body {
    font-family: arial, sans serif;
    background-color: lightgray;
    background-image: url(images/odin.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
}
.title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 5px solid black;
    border-style: double;
    padding: 10px 41px;
    margin: 10px auto 200px;
    width: fit-content;
    border-radius: 20px;
    font-family: cursive;
    font-style: oblique;
    font-size: 70px;
    font-weight: 900;
}
.title img {
    height: 180px;
    width: 180px;
    object-fit: contain;
}
.title-other {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 5px solid black;
    border-style: double;
    padding: 10px 41px;
    margin: 10px auto 50px;
    width: fit-content;
    border-radius: 20px;
    font-family: cursive;
    font-style: oblique;
    font-size: 70px;
    font-weight: 900;
}
.recipe-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.recipe-list li {
    display: flex;
}
.recipe-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    padding: 16px;
    background-color: rgba(173, 145, 66, 0.6);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    transition: transform 0.25s ease;
    overflow: hidden;
}
.recipe-list span {
    font-family: cursive;
    font-style: oblique;
    font-size: 20px;
    font-weight: 800;
    color: black;
}
.recipe-list a:hover {
    transform: scale(1.05);
}
.recipe-list a:hover .recipe-desc{
    opacity: 1;
    max-height: 50px;
    color: black;
    font-size: 14px;
    font-style: normal;
}
.recipe-list img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 12px;
}
.recipe-desc {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    transition: opacity 0.3s ease;
}
.desc-box {
    background-color: rgba(255, 255, 255, .85);
    padding: 25px;
    border: 4px double black;
    border-radius: 15px;
    max-width: 1200px;
    margin: 30px auto;
}
.desc-box h3 {
    font-size: 35px;
    font-family: cursive;
    font-style: oblique;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.desc-box p {
    font-size: 25px;
    font-weight: 500;
}
.quick-facts li {
    font-size: 20px;
    margin-bottom: 10px;
}
.ingredients li {
    font-size: 20px;
    margin-bottom: 10px;
}
.recipe-info {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}
.quick-facts, 
.ingredients {
    background-color: rgba(173, 145, 66, 0.6);
    padding: 15px;
    border-radius: 10px;
    flex: 1;
    border: 2px solid black;
}
.recipe-pic img {
    display: block;
    margin: 50px auto;
    width: 300px;
    border-radius: 50px;
}
.pg-logo-1 img {
    display: block;
    margin: 50px auto;
    width: 500px;
    transform: .5s ease;
}
.pg-logo-1 img:hover {
    transform: scale(1.2);
    animation: shake .5s;
}
@keyframes shake {
     0%   { transform: translateX(0) scale(1.2); }
    25%  { transform: translateX(-3px) scale(1.2); }
    50%  { transform: translateX(3px) scale(1.2); }
    75%  { transform: translateX(-3px) scale(1.2); }
    100% { transform: translateX(0) scale(1.2); }
}
.steps {
    background-color: rgba(255, 255, 255, .8);
    padding: 35px;
    border: 4px double black;
    border-radius: 15px;
    max-width: 1100px;
    margin: 30px auto;
}
.steps li {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: 550;
}
.steps h3 {
   font-size: 35px;
    font-family: cursive;
    font-style: oblique;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.pg-logo-2 img {
    display: block;
    margin: 50px auto;
    width: 500px;
}
.bottom-place {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.home-button {
    margin: 20px;
    transition: .5s ease;
}
.home-button:hover {
    scale: 1.2;
}
.home-button img {
    width: 125px;
    height: auto;
    cursor: pointer;
}
.home-button a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 5px 5px;
    background-color: rgba(173, 145, 66, 0);
    border: 3px solid black;
    border-radius: 30px;
    font-family: cursive;
    font-size: 40px;
    font-style: oblique;
    text-decoration: none;
    color: black;
}
