body {
    font-family: arial, sans serif;
    background-color: lightgray;
    background-image: url(images/odin.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
}
/* figure out how to change background image depending on the page! also, this is annoying and hard lol*/
.title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 5px solid black;
    border-style: double;
    padding: 10px 41px;
    margin: 10px auto 300px;
    width: fit-content;
    border-radius: 20px;
    font-family: cursive;
    font-style: oblique;
    font-size: 70px;
    font-weight: 900;
}
.title img {
    height: 180px;
    width: 180px;
    object-fit: contain;
}
.recipe-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.recipe-list li {
    display: flex;
}
.recipe-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    padding: 16px;
    background-color: rgba(173, 145, 66, 0.6);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    transition: transform 0.25s ease;
    overflow: hidden;
}
.recipe-list span {
    font-family: cursive;
    font-style: oblique;
    font-size: 20px;
    font-weight: 800;
    color: black;
}
.recipe-list a:hover {
    transform: scale(1.05);
}
.recipe-list a:hover .recipe-desc{
    opacity: 1;
    max-height: 50px;
    color: black;
    font-size: 14px;
    font-style: normal;
}
.recipe-list img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 12px;
}
.recipe-desc {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    transition: opacity 0.3s ease;
}
.desc-box {
    background-color: rgba(255, 255, 255, .85);
    padding: 25px;
    border: 4px double black;
    border-radius: 15px;
    max-width: 900px;
    margin: 30px auto;
}
.desc-box h3 {
    font-size: 30px;
    font-family: cursive;
    font-style: oblique;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.desc-box p {
    font-size: 20px;
}
.ingredients,
.quick-facts li {
    font-size: 20px;
}
.recipe-info {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}
.quick-facts, 
.ingredients {
    background-color: rgba(173, 145, 66, 0.6);
    padding: 15px;
    border-radius: 10px;
    flex: 1;
}
.steps {
    background-color: rgba(255, 255, 255, .85);
    padding: 25px;
    border: 4px double black;
    border-radius: 15px;
    max-width: 900px;
    margin: 30px auto;
}
.bottom-place {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    border: 3px solid green;
}
.home-button {
    margin: 20px;
}
.home-button img {
    width: 100px;
    height: auto;
    cursor: pointer;
}
.home-button a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 5px 5px;
    background-color: rgba(173, 145, 66, 0);
    border: 3px solid black;
    border-radius: 30px;
    font-family: cursive;
    font-size: 40px;
    font-style: oblique;
    text-decoration: none;
    color: black;
}
